.navbar {
  background-color: var(--secondary);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  /* max-width: 1200px; */
}

.navbar h1 {
  color: var(--accent);
  font-size: 1.5rem;
  font-weight: 600;
  margin-left: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.links {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  width: 30%;
}
.links a {
  color: var(--accent);
  text-decoration: none;
  padding: 6px;
  font-size: 0.9rem;
  font-weight: 500;
  text-transform: uppercase;
}
.links a:hover {
  background-color: var(--accent);
  border-radius: 7px;
  color: var(--secondary);
  transition: color 0.3s ease;
}
