/* src/components/Navbar.css */
.navbar {
  padding: 0.8rem 2rem;
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  width: fit-content;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.45);
}
.navbar:hover {
  background-color: #111;
  transition: background 0.3s ease;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0 2rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 3rem;
}

.nav-links a {
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.2rem 0.2rem;
}

.nav-links a:hover {
  color: var(--yellow);
}
